.extras-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.extras-container h2 {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 24px;
  text-align: center;
  color: #007bff;
}

.routes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.extras-container_item {
  /* padding-bottom: 4rem; */
}

.route-card:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
