/* .extras-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.routes-list {
  list-style-type: none;
  padding: 0;
}

.route-item {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.route-frequency {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
} */

.extras-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.routes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 10px;
  margin-top: 20px;
}



.route-card:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
