/* header {
  display: flex;
  justify-content: space-between;
  background-color: #0b417c;
  padding: 1rem 2rem;
} */

header h1 {
  color: white;
}

.tickets-page {
  padding: 0.25rem 20px;
  font-family: Arial, sans-serif;
}

.tickets-page > h1 {
  margin-top: 8px;
  font-size: 24px;
  color: #007bff;
}

.tickets-navigation {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.tickets-navigation_link,
.tickets-navigation_link-purchase {
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 0.6875rem;
  border-radius: 0.25rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.tickets-content {
  margin-bottom: 1rem;
  text-align: center;
}

.tickets-content-btn {
  color: #0b417c;
  background-color: white;
  border: 2px solid #0b417c;
}

.tickets-content-btn_active {
  border: 2px solid #0b417c;
  background-color: #0b417c;
}

.tickets-content-btn_active:hover,
.tickets-content-btn:hover {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.purchase-contaner {
  display: flex;
  justify-content: center;
}

.tickets-navigation_link-purchase {
  position: fixed;
  z-index: 100;
  top: 83%;
  width: 70%;
}

.tickets-navigation_link-purchase:hover,
.tickets-navigation_link:hover {
  background-color: #0b417c;
}

.tickets-navigation_link.active {
  color: #ffd700;
}

.info-box {
  background-color: #e7f3ff;
  color: #0056b3;
  padding: 0 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.75rem;
}
