.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.search-container {
  padding-left: 0.5rem;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.search-container_label {
  width: 80%;
}

.filter-toggle, .filter-active  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 3px solid #007bff;
  border-radius: 0.75rem;
  cursor: pointer;
}

.filter-active {
  border: 3px solid #0b417c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-toggle:hover {
  border: 3px solid #0b417c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-toggle p, .filter-active p {
  margin: 0;
}

.filter-dropdown {
  width: 1.5rem;
  height: 1.5rem;
}

.filter-section h2 {
  text-align: center;
}

.filter-toggle > span, .filter-active > span {
  color: white;
  border-radius: 50%;
  background-color: #007bff;
  width: 22px;
  text-align: center;
}

.filter-toggle:hover > span,
.filter-active > span {
  background-color: #0b417c;
}

.filter-section_container {
  display: flex;
}

.search-exclude-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchbar-btn {
  width: 50%;
  border-radius: 0.25rem;
  margin: 0 auto;
}

.searchbar-btn:hover {
  background-color: #0b417c;
}

#time {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  padding: 8px;
}

.filters {
  background-color: #f9f9f9;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-transport_types h3 {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  justify-content: space-evenly;
}

.filters h2 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

#filter-container-accessible {
  display: flex;
  justify-content: start;
}

.filter-item_container label {
  font-size: 1.1rem;
  color: #333;
}

.filter-item_container input[type="checkbox"]:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: red;
}

.filter-section_time input {
  text-align: center;
}

.filters input[type="text"],
.filters input[type="time"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
