.station-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  overflow-x: hidden;
}

.station-modal {
  width: 100%;
  text-align: center;
}


.station-question{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.station-input {
  margin-bottom: 0.5rem;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.station-tabs {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.station-tabs button {
  flex: 1 1 auto;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #f0f8ff;
  color: #007bff;
  cursor: pointer;
  font-size: 0.75rem;
}

.station-tabs button:hover {
  background: #007bff;
  color: white;
}

.station-results {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.result-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.result-btn:hover {
  background: #0056b3;
}

.station-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
}
