.ticket-activation_desc {
  text-align: right;
}

.ticket-activation_desc .ticket-active {
  padding: 0.25rem 0.5rem;
  color: #00a0f0;
}

.ticket-pending {
  color: red;
  padding: 0.25rem 0.5rem;
}



