/* .ticket-control {
  text-align: center; 

  padding: 15px; 
  font-size: 16px; 
  line-height: 1.8; 
  background-color: #e6f2ff;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 64, 128, 0.1); /* Jemný modrý stín 
} */

.ticket-control {
}

.ticket-control {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 5rem;

  /* background-color: #f0f8ff; */
  background-color: #e6f2ff;
  color: #003366;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 64, 128, 0.2);
}

.ticket-control h2 {
  color: black;
}

.control-section {
  margin-bottom: 20px;
}

.control-section h3 {
  text-align: left;
}

.control-section img {
  max-width: 100%;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ticket-control p {
  color: #007bff;
  margin: 10px 0;
}
